.places {
  width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1152px) {
  .places {
    width: 956px;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: calc(720 / 768 * 100%);
  }
}
