.main__intro {
  margin-top: 92px;
  margin-left: calc(100 / 1280 * 100%);
}

@media screen and (max-width: 1024px) {
  .main__intro {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .main__intro {
    margin-left: auto;
    margin-top: 88px;
  }
}

@media screen and (max-width: 550px) {
  .main__intro {
    margin-top: 64px;
  }
}
