.header {
  max-width: 1184px;
  width: calc(1184 / 1280 * 100%);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    width: calc(928 / 1024 * 100%);
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    width: calc(720 / 768 * 100%);
  }
}
