.place__paragraph {
  max-width: 484px;
  margin: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 737px) {
  .place__paragraph {
    max-width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .place__paragraph {
    max-width: calc(288 / 320 * 100%);
    margin-left: calc(16 / 320 * 100%);
  }
}
