.cover {
  margin: 0;
  padding-bottom: calc(740 / 984 * 100%);
  background: url(../../images/cover-trains.jpg) center / cover no-repeat;
  position: relative;
  z-index: 1;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: calc(1024 / 928 * 100%);
    left: calc((1 - (1024 / 928)) / 2 * 100%);
  }
}

@media screen and (max-width: 768px) {
  .cover {
    width: 100%;
    left: 0;
    background: url(../../images/cover-trains_size_m.jpg) center / cover
      no-repeat;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    background: url(../../images/cover-trains_size_s.jpg) center / cover
      no-repeat;
  }
}
