.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: calc(440 / 928 * 100%) 1fr;
    gap: 48px calc(32 / 928 * 100%);
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px calc(28 / 768 * 100%);
  }
}

@media screen and (max-width: 737px) {
  .place {
    grid-template-columns: auto;
    gap: 32px;
  }
}
